<aside class="sidebar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/thoughts">Thoughts</a></li>
    <li><a href="/ponders">Ponders</a></li>
    <li><a href="/users/<%= user.nickname %>"><%= user.name %></a></li>
    <li>
      <p>
        <form action="/users/session/login?_method=DELETE" class="logout-form" method="post">
          <input type="submit" value="Logout">
        </form>
      </p>
    </li>
  </ul>
</aside>
