<%- include("./includes/header") %>

<div class="not-found-container">
  <i class="fas fa-times"></i>
  &#160;&#160;<h2>The page you're looking for could not be found</h2>&#160;&#160;
  <i class="fas fa-times"></i>
</div>

<p>Go <a href="/">Home</a></p>

<%- include("./includes/footer") %>
