html {
  min-width: 100%;
  min-height: 100%;
  background: rgb(0, 4, 40);
  background: linear-gradient(180deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Roboto Mono', 'Noto Sans JP', sans-serif, monospace;
  text-align: center;
  color: #fff;
  height: 120vh;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  border-right: 1px solid #fff;
  width: 15%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  text-align: left;
}

.sidebar ul {
  list-style: none;
  margin-top: 30px;
  margin-left: 20px;
}

.sidebar ul li {
  margin-bottom: 30px;
}

.sidebar .logout-form {
  text-align: center;
}

.container {
  position: absolute;
  right: 0;
  width: 85%;
}

.container ul {
  list-style: none;
}

.home-navbar {
  border-bottom: 1px solid #999;
}

.home-navbar ul {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.home-navbar ul li {
  padding: 10px 0;
}

.home-navbar #home-selector {
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

.home-navbar .active {
  background-color: rgba(255, 255, 255, 0.2);
}

.home-navbar #home-selector:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.home-combine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-combine ul {
  list-style: none;
}

/* THOUGHTS */
.home-thoughts-ponders {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  margin: 10px auto;
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;
}

.delete-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.delete-button input,
.delete-comment-button input {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(153, 15, 15);
  background-color: rgba(248, 39, 39, 0.2);
  padding: 5px;
  border-radius: 5px;
  color: rgb(212, 16, 16);
}

.delete-button:hover input,
.delete-comment-button:hover input {
  border: 1px solid transparent;
  color: rgb(153, 15, 15);
}

.newthought-form-opener {
  border: none;
  padding: 10px;
  margin: 20px 0;
  width: 15%;
  font-size: 16px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.newthought-form-opener:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.new-thought-section {
  padding: 20px 0;
  border: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.4);
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.new-thought-section #content,
.new-thought-section .send-thought,
.new-thought-section #title {
  font-size: 18px;
  padding: 12px 16px;
  font-family: 'Poppins';
}

.new-thought-section #content,
.new-thought-section #title {
  margin-bottom: 10px;
  width: 90%;
}

.new-thought-section .send-thought {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  font-weight: bold;
}

.new-thought-section .send-thought:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.no-show {
  display: none;
}

/* THOUGHT PAGE */
.thought-detail {
  padding: 10px 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: left;
  margin: 10px auto;
}

.thought-detail p {
  text-align: left;
  font-size: 19px;
}

/* i {
  font-size: 12em;
  left: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  top: 0;
} */

.thought-detail h3 {
  margin-bottom: 20px;
}

.thought-likes {
  margin-top: 10px;
}

.thought-likes i {
  font-size: 18px;
  cursor: pointer;
  margin-right: 5px;
}

.thought-comments {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.thought-comments .comments-list {
  margin-top: 20px;
}

.each-comment {
  display: flex;
}

.delete-comment-button {
  margin-left: 10px;
}

/* PONDER PAGE */
.ponder-detail h2 {
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.ponder-detail p {
  margin-bottom: 10px;
  text-align: left;
}

.detail-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.make-comment {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
}

.make-comment input {
  font-size: 16px;
  padding: 8px;
}

.make-comment .comment-input {
  width: 50%;
  margin-right: 10px;
}

.make-comment .comment-post-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.make-comment .comment-post-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

/* LOGIN REGISTER FROM */
.login-register-container {
  font-size: 14px;
}

.login-register-container form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 40%;
  font-size: 1.3em;
  color: #999;
}

.login-register-container form input:focus {
  color: #000;
}

.login-register-container form input:last-of-type {
  margin-top: 20px;
  padding: 10px;
  width: 30%;
  border-radius: 100px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #000;
}

.login-register-container form input:last-of-type:hover {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #000;
}

.login-register-link {
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
}

.login-register-link:hover {
  text-decoration: underline;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
  padding: 20px 0;
  box-shadow: 0px 0px 30px black;
  border-radius: 30px;
}

.login-container h1,
.login-container a {
  margin-bottom: 20px;
}

.logout-form input {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: bold;
}

.logout-form input:hover {
  background-color: rgba(255, 255, 255, 0.9);
}