<%- include("../includes/header") %>

<div class="login-register-container">
  <div class="login-container">
    <h1>Create new user</h1>
    <form action="/users/registrate" method="post">
      <input type="text" name="name" id="name" placeholder="Name" autofocus required>
      <br />
      <input type="text" name="nickname" id="nickname" placeholder="Nickname" required>
      <br />
      <input type="email" name="email" id="email" placeholder="Email" required>
      <br />
      <input type="password" name="password" id="password" placeholder="Password" required>
      <br />
      <input type="submit" value="Register">
    </form>
    <small>or</small>
    <p>
      <a class="login-register-link" href="/users/session/login">Login</a>
    </p>
  </div>
</div>

<%- include("../includes/footer") %>